            * {
                box-sizing: border-box;
            }
            html {
                height: 100%;
            }
            body {
                background-color: #ffffff;
                margin: 0px;
                height: 100%;
                color: #555;
                font-family: 'inconsolata';
                font-size: 15px;
                line-height: 18px;
                overflow: hidden;
                text-align:center;
            }
            h1 {
                margin-top: 30px;
                margin-bottom: 40px;
                margin-left: 20px;
                font-size: 25px;
                font-weight: normal;
            }
            h2 {
                font-size: 20px;
                font-weight: normal;
            }
            a {
                color: #2194CE;
                text-decoration: none;
            }

            .label{
                color: #FFF;
                font-family: sans-serif;
                padding: 2px;
                background: rgba( 0, 0, 0, .6 );
            }

            a {
                color: #000000;
            }

            #panel{
                width:20%;
                height: 100%;
                float:left;
                background: #fafafa;
                z-index: 1000;
                position: absolute;
                overflow: auto;
                max-height: 100vh;
            }

            #panel .link {
                  color: #2194CE;
                  text-decoration: none;
                  cursor: pointer;
                  display: block;
                  text-align: left;
                  margin-top: 1px;
            }

            #panel .type {
                   color: #7d7676;
                   text-decoration: none;
                   cursor: pointer;
                   display: block;
                   text-align: left;
                   margin-top: 3px;
            }

            #panel .selected {
                  color: #ff0000;
             }
            #panel .link:hover {
                  text-decoration: underline;
            }

            #content {
                width:80%;
                height:100%;
                float:left;
                padding-left: 20%;
            }

            #viewSrcButton {
                position: fixed;
                bottom: 20px;
                right: 20px;
                padding: 8px;
                color: #fff;
                background-color: #555;
                opacity: 0.7;
            }
            #viewSrcButton:hover {
                cursor: pointer;
                opacity: 1;
            }

            #info {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 100;
                margin: 0 auto;
                width: 400px;
                height: 4%
            }

            #menu {
                position: absolute;
                bottom: 20px;
                width: 100%;
                text-align: center;
                padding: 0;
                margin-left: 5%;
                z-index : 100000;
            }

            #gui_holder {
                position: absolute;
                width: 100%;
                padding: 0;
                margin-left: 85%;
                z-index : 100001;
            }




             #menu button:active {
                color: #000000;
                background-color: rgba(0,255,255,1);
            }

            #menu button:hover {
                background-color: rgba(0,255,255,0.5);
            }

            #menu button {
                color: rgb(255,255,255);
                background: transparent;
                border: 0px;
                padding: 5px 10px;
                cursor: pointer;
            }

            .label {
                text-shadow: -1px 1px 1px rgb(0,0,0);
                margin-left: 25px;
            }

            .models {
                position: absolute;
                padding-top: 2%;

                left: 12px;
                z-index: 2;
                font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
                font-size: 13px;
            }

            .models a, .models a:visited {
                color: #FFFFFF;
                margin-left: 12px;
                text-decoration: none;
            }
            
               #overlay {
                        position: fixed;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        margin-left: 10%;
                        z-index: 999;
              }
              #overlay > div {
                        height: 128px;
                        width: 128px;
                        border: 1px solid white;
              }

              #blocker {
              				position: absolute;
              				width: 100%;
              				height: 100%;
              				background-color: rgba(0,0,0,0.5);
              			}
              			#instructions {
              				width: 100%;
              				height: 100%;
              				display: -webkit-box;
              				display: -moz-box;
              				display: box;
              				-webkit-box-orient: horizontal;
              				-moz-box-orient: horizontal;
              				box-orient: horizontal;
              				-webkit-box-pack: center;
              				-moz-box-pack: center;
              				box-pack: center;
              				-webkit-box-align: center;
              				-moz-box-align: center;
              				box-align: center;
              				color: #ffffff;
              				text-align: center;
              				cursor: pointer;
              			}

                #a_overlay {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height:100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 1;
                    background-color: #000000;
                    color: #ffffff;
                }
                #a_overlay > div {
                    text-align: center;
                }
                #a_overlay > div > button {
                    height: 20px;
                    width: 100px;
                    background: transparent;
                    color: #ffffff;
                    outline: 1px solid #ffffff;
                    border: 0px;
                    cursor: pointer;
                }
                #a_overlay > div > p {
                    color: #777777;
                    font-size: 12px;
                }

                .lbl {
                 color:#fff;
                 font-size:16px;
                 font-weight:bold;
                 position: absolute;
                 bottom:0px; z-index:100;
                 text-shadow:#000 1px 1px 1px;
                 background-color:rgba(0,0,0,0.85);
                 padding:1em;
                }

                #lbl_left {
                 text-align:left;
                 left:0px;
                }

                #lbl_right {
                 text-align:left;
                 right:0px;
                }

                .g {
                 color:#aaa;
                }

                .c {
                 color:#fa0;
                }


